* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
    color: #044b6b;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
}

p {
	font-size: 14px;
}

.cta {
	background: #E1AC71;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

/* MOBILE */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.row:before, .row:after {
    content: ""; 
    display: table; 
}

.row:after {
    clear: both;
}

html, body {
    height: 100%;
}

/* wrapper */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/* footer */

.footer {
    flex-shrink: 0;
    background: #6DA4A9;
    color: #fff;
	text-align: center;
	padding: 20px;
}

.footer p {
	font-size: 10px;
}

/* heroTop */

.heroTop {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.heroTop .heroImage {
    padding: 200px 0;
	background: url(../imgs/hero-top.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.heroTop .title {
	margin: 50px 0;
	padding: 0 30px;
}

.heroTop .title img {
	width: 150px;
	height: auto;
	margin-bottom: 20px;
}

.heroTop .title h1 {
	margin-bottom: 10px;
}

.heroTop .title p {
	margin-bottom: 30px;
}

/* container */

.container {
    flex: 1 0 auto;
	text-align: center;
}

.intro, .points {
	padding: 0 40px;
}

/* intro section */

.intro, .points {
	margin: 50px 0;
}

/* form section */

.form {
	background: #F7E4BC;
	padding: 50px 30px;
}

.form .title {
	margin-bottom: 50px;
}

.form .title h2 {
	margin-bottom: 20px;
}

.form .title .lists .list {
	margin-bottom: 20px;
}

#signupForm {
	background: #fff;
	padding: 60px 20px;
	border-radius: 50px;
}

label {
	width: 35%;
}

input[type="text"] {
	width: 60%;
}

label {
	font-weight: bold;
	display: inline-block;
}

input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #044b6b;
	border-radius: 3px;
}

.fieldgroup {
	width: 100%;
	margin-bottom: 30px;
	text-align: left;
}

input[type="submit"] {
	border: none;
}

/* hero bottom */

.heroBottom .heroImage {
    padding: 200px 0;
	background: url(../imgs/hero-bottom.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* DESKTOP */

@media only screen and (min-width: 700px) {

	.col-lg-1 { width: 8.33%; }
	.col-lg-2 { width: 16.66%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; }
	.col-lg-12 { width: 100%; }

	.row:before, .row:after {
	content: ""; 
	            display: table; 
	}

	.row:after {
	            clear: both;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 24px;
	}

	p {
		font-size: 18px;
	}
	
	/* hero top */
	
	.heroTop .heroImage {
		padding: 300px 0;
		position: relative;
	}

	.heroTop .title {
		position: absolute;
		top: 50px;
		left: 150px;
	}

	.intro, .points {
		padding: 0 130px;
	}
	
	/* intro section */

	.intro h2 {
		text-align: center;
	}

	/* form section */

	.form {
		display: flex;
		text-align: left;
		margin: 0;
		padding: 100px 130px;
	}

	.form .title {
		margin-top: 80px;
		margin-right: 70px;
	}

	#signupForm {
		padding: 80px 50px;
	}

	/* hero bottom */

	.heroBottom .heroImage {
		padding: 300px 0;
		background-position: 80% 95%;
	}
}
