* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
    color: #044b6b;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
}

p {
	font-size: 14px;
}

.cta {
	background: #E1AC71;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

/* MOBILE */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.row:before, .row:after {
    content: ""; 
    display: table; 
}

.row:after {
    clear: both;
}

html, body {
    height: 100%;
}

/* wrapper */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/* footer */

.footer {
    flex-shrink: 0;
    background: #6DA4A9;
    color: #fff;
	text-align: center;
	padding: 20px;
}

.footer p {
	font-size: 10px;
}

/* heroTop */

.heroTop {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.heroTop .filter {
	background-color: #F7E4BC;
}

.heroTop .heroImage {
    padding: 200px 0;
	background: url(../imgs/hero-top.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 70%;
}

.heroTop .title {
	margin: 50px 0;
}

.heroTop .title img {
	width: 150px;
	height: auto;
	margin-bottom: 20px;
}

.heroTop .title h1 {
	margin-bottom: 15px;
}

.heroTop .title p {
	margin-bottom: 40px;
	padding: 0 30px;
}

/* countdown */

#clock {
	display: flex;
}

#clock { 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
	font-size: 20px; 
	margin-bottom: 10px;
} 
#clock .count { 
    padding: 10px; 
    border-radius: 8px; 
    background: #044b6b; 
    display: inline-block; 
} 
#clock .count span{ 
    padding: 15px; 
    border-radius: 8px; 
    background: #f3e6c9; 
	display: inline-block;
	color: #044b6b;
	width: 50px;
} 

.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 

/* container */

.container {
    flex: 1 0 auto;
	text-align: center;
}

/* intro section */

.intro {
	margin: 50px 0;
	padding: 0 40px;
}

.intro img {
	width: 300px;
	height: 300px;
	margin: auto;
	margin-bottom: 50px;
}

.intro .cities .title {
	margin-bottom: 50px;
}

.intro .cities .title h2 {
	margin-bottom: 20px;
}

.intro .cities {
	display: flex;
	flex-wrap: wrap;
}

.intro .cities .city {
	margin-bottom: 20px;
}

.intro .cities .city img {
	width: 130px;
	height: 130px;
	margin-bottom: 10px;
}

/* accommodation */

.accommodations h2 {
	margin-bottom: 40px;
	padding: 0 10%;
}

.accommodation {
	margin-bottom: 60px;
	padding: 0 60px;
}

.accommodation h3 {
	margin-bottom: 10px;
}

.accommodation img {
	width: 250px;
	height: auto;
	margin-bottom: 20px;
}

/* points section */

.points {
	padding: 0 50px;
	margin-bottom: 80px;
}

.points h2 {
	margin-bottom: 30px;
	padding: 0 20px;
}

.points .point {
	display: flex;
	text-align: left;
	align-items: center;
	margin-bottom: 30px;
}

.points .point i {
	color: #3B7197;
	font-size: 35px;
}

.points .point .title {
	margin-left: 10px;
}

.points .point .title h3 {
	font-size: 16px;
	margin-bottom: 5px;
}

/* form section */

.form {
	background: #F7E4BC;
	padding: 50px 30px;
}

.form .title {
	margin-bottom: 50px;
}

.form .title h2 {
	margin-bottom: 5px;
}

.form .title p {
	margin-bottom: 30px;
}

.form .title .lists {
	padding: 0 35px;
}

.form .title .lists .list {
	margin-bottom: 20px;
}

.form .title .lists .list h3 {
	margin-bottom: 10px;
}

#signupForm {
	background: #fff;
	padding: 60px 20px;
	border-radius: 50px;
}

#signupForm p {
	margin-bottom: 30px;
	font-size: 18px;
}

label {
	width: 40%;
}

input[type="text"] {
	width: 55%;
}

label {
	font-weight: bold;
	display: inline-block;
}

input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #044b6b;
	border-radius: 3px;
}

.fieldgroup {
	width: 100%;
	margin-bottom: 30px;
	text-align: left;
}

input[type="submit"] {
	border: none;
}

/* error */

.errorpopup { 
	opacity: 0; 
	transition: opacity .5s linear; 
	color: crimson;
}

.error .errorpopup {
	opacity: 1;
}

.error {
	color: crimson;
}

.error input {
	border: 2px solid crimson;
}

/* hero bottom */

.heroBottom {
	position: relative;
}

.heroBottom .heroImage {
    padding: 200px 0;
	background: url(../imgs/hero-bottom.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.heroBottom .title {
	position: absolute;
	color: #fff;
	text-align: center;
	left: 15%;
	top: 40%;
}

.heroBottom .title h2 {
	margin-bottom: 5px;
}

/* success */

.success-container {
	background: #F7E4BC;
	padding: 0 30px;
}

.success {
	margin-top: 100px;
	background: #fff;
	padding: 50px 10px;
	border-radius: 30px;
}

.success img {
	width: 200px;
	height: auto;
	margin-bottom: 30px;
}

.success h1 {
	margin-bottom: 10px;
}

.success p {
	padding: 0 50px;
}

.success p strong {
	font-size: 18px;
}

.success .title {
	margin-bottom: 30px;
}

/* DESKTOP */

@media only screen and (min-width: 700px) {

	.col-lg-1 { width: 8.33%; }
	.col-lg-2 { width: 16.66%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; }
	.col-lg-12 { width: 100%; }

	.row:before, .row:after {
	content: ""; 
	            display: table; 
	}

	.row:after {
	            clear: both;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 24px;
	}

	p {
		font-size: 18px;
	}
	
	/* hero top */
	
	.heroTop .heroImage {
		padding: 300px 0;
		position: relative;
	}

	.heroTop .title {
		position: absolute;
		top: 10px;
		left: 23%;
		background: rgba(255, 255, 255, 0.8);;
		padding: 40px 25px;
		border-radius: 20px;
	}

	.intro, .points {
		padding: 0 130px;
	}
	
	/* intro section */

	.intro {
		display: flex;
		align-items: center;
		margin: 150px 0;
	}

	.intro img {
		width: 500px;
		height: 500px;
		margin: 0;
		margin-right: 100px;
	}

	.intro .cities .title {
		text-align: left;
		padding-right: 80px;
	}

	.intro .cities .city {
		text-align: center;
	}

	.intro .cities .city img {
		margin: 0;
		margin-bottom: 10px;
	}

	/* accommodation section */

	.accommodations {
		padding: 0 100px;
		margin-bottom: 150px;
	}

	.accommodations h2 {
		margin-bottom: 80px;
	}

	.accommodations .row {
		display: flex;
		justify-content: space-between;
	}

	.accommodations .accommodation {
		text-align: left;
	}

	.accommodations .accommodation {
		margin: 0 10px;
		padding: 50px;
		border-radius: 40px;
		border: #6DA4A9 solid 3px;
	}

	.accommodations .accommodation:nth-child(even) {
		background: #6DA4A9;
		color: #fff;
		border: none;
	}

	.accommodations .accommodation img {
		width: 300px;
	}

	/* points section */

	.points h2 {
		margin-bottom: 50px;
	}

	.points .row {
		display: flex;
	}

	.points .row .point {
		flex-direction: column;
		text-align: center;
	}

	.points .row .point i {
		margin-bottom: 20px;
	}

	.points .row .point .title {
		margin: 0;
	}

	.points .row .point .title h3 {
		font-size: 20px;
	}

	/* form section */

	.form {
		display: flex;
		text-align: left;
		margin: 0;
		padding: 100px 150px;
	}

	.form .title p {
		margin-bottom: 50px;
	}

	.form .title {
		margin-top: 80px;
		margin-right: 70px;
	}

	.form .title .lists {
		padding: 0;
	}

	#signupForm {
		padding: 80px 50px;
	}

	#signupForm .cta {
		font-size: 18px;
		margin-top: 20px;
	}

	/* hero bottom */

	.heroBottom .heroImage {
		padding: 300px 0;
		background-position: 80% 95%;
	}

	.heroBottom .title {
		top: 25%;
		left: 40%;
	}

	/* success */
	.success-container {
		padding: 0 30%;
	}
}
